body {
    background-color: black;
}

.clock {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #fe1717;
    align-items: center;
    font-size: 80px;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 7px;


}

div {
    display: flex;
    align-items: center;
    border: 2px solid red;
    justify-content: center;
    background-color: black;
    height: 30vh;
    width: 50vw;
    /* padding: 10px; */

}